extends menu
block content
  #cart

  script(type='text/javascript').
    const credentials = !{ JSON.stringify(credentials) };
    const username = !{ JSON.stringify(username) };
  script(src='/javascripts/menu/bundle-menu.min.js')
  script(src='/javascripts/cart/bundle-cart.min.js')
