extends menu
block content

  #error
    h1 Error !{error.status}
    img(src='/assets/error-alien.png')
    h2= message
    p Goshdarn! There seems to problem!#[br]Try going back to your last page.

    p.footer
      | &#169 2016 Astralux | Alpha Release |
      | #[a(href="http://www.softwareontheshore.com", target="_blank") Software on the Shore]

  script(src='/javascripts/menu/bundle-menu.min.js')
