extends menu
block content
  #home

  script(type='text/javascript').
    const username = !{ JSON.stringify(username) };
  script(src='/javascripts/menu/bundle-menu.min.js')
  script(src='/javascripts/home/bundle-home.min.js')
