extends menu
block content
  link(rel='stylesheet', href='/stylesheets/marketplace.css')

  #market-loader

  script(src='/javascripts/menu/bundle-menu.min.js')
  script(src='/javascripts/marketplace/bundle-marketplace.min.js')
