extends menu
block content
  link(rel='stylesheet', href='/stylesheets/marketplace.css')
  #marketplace

  script(type='text/javascript').
    const credentials = !{ JSON.stringify(credentials) };
  script(src='/javascripts/menu/bundle-menu.min.js')
  script(src='/javascripts/marketplace/bundle-marketplace.js')
