extends menu
block content
  link(rel='stylesheet', href='/stylesheets/moonlet.css')
  #moonlet

  script(type='text/javascript').
    const credentials = !{ JSON.stringify(credentials) };
    const moonletID = !{ JSON.stringify(moonletID) };
  script(src='/javascripts/menu/bundle-menu.min.js')
  script(src='/javascripts/moonlet/bundle-moonlet.js')
