/* http://paletton.com/#uid=75m0u0kllllfpbJf-gFr6q0uXt1 */
$font: 'Montserrat', sans-serif;

$font-color: #FFFFFF;
$link-color: #05A252;

$primary-color: #953255;
$secondary-color: #B61C52;
$tertiary-color: #743C50;
$quadrary-color: #28774F;

body, html {
  font-family: $font;
  font-size: 15px;
  background-color: $primary-color;
  color: $font-color;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
#load-screen {
  z-index: 10;
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;

  .fa-spinner {
    font-size: 3.5em;
    margin: 0 auto;
    margin-top: 5em;
  }
}
header {
  width: 100%;
  height: 10%;
  background-color: $quadrary-color;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
#menu {
  #menu-bar {
    background-color: $quadrary-color;
    padding: 1em !important; 

    .brand-img {
      width: auto;
      height: 50px;
    }
    .navlink {
      margin-left: .5em;
      margin-right: .5em;
      color: $font-color;
      text-decoration: none;
    }
    #link-nav {
      float: right;
      margin-top: 1em;
      margin-right: 1em;
      font-size: 1.2em;

      .marketplace {
      }
      .login {
      }
    }
  }
}
#home {
  #home-component {
    text-align: center;
    margin: 8em;

    #home-header {
      padding: 1em;
      width: 70%;
      display: inline-block;

      #home-img {
        float: left;
        width: auto;
        height: 20em;
        margin-right: 2em;
      }
      #home-copy {
        .copy-header {
          font-size: 2.5em;
        }
        .copy {
          font-size: 1.4em;
        }
        .home-btn {
          margin-right: 2em;
        }
      }
    }
    .featured-header {
      margin-top: 3em;
    }
    #home-featured {
      display: table;
      border-spacing: 1em;

      .moonlet-display {
        text-align: center;
        display: table-cell;
        max-width: 33.3%;
        padding: 1em;
        font-size: 1.2em;
        margin-right: 2em;

        &:hover {
          box-shadow: .5px .5px .5px .5px #000;
          cursor: pointer;
        }
        .moonlet-display-name {
          color: $link-color;
          font-size: 1.8em;
        }
        .moonlet-display-img {
          width: auto;
          height: 10em;
          display: inline-block;
          margin: 0 auto;
        }
      }
    }
  }
}
#login {
  #login-component {
    text-align: center;
    margin-top: 6em;

    #login-header {
      img {
        width: auto;
        height: 12em;
        margin: 0 auto;
        display: inline-block;
      }
      .login-header-text {
        font-size: 1.6em;
      }
      .login-btn {
        font-size: 1.2em;
        display: inline-block;
        margin: 0 auto;
        margin-top: 1em;
        width: 25%;
        padding: .7em;
        &:hover { cursor: pointer; }

        .fa {
          float: left;
          font-size: 1.3em;
        }
        span { float: right; }
      }
      #login-facebook {
        background-color: #3b5998;
        &:hover { background-color: lighten(#3b5998, 15); }
      }
      #login-twitter {
        background-color: #55acee;
        &:hover { background-color: lighten(#55acee, 15); }
      }
      #login-google {
        background-color: #ea4335;
        &:hover { background-color: lighten(#ea4335, 15); }
      }
    }
  }
}
.moonlet-display-btn, .home-btn {
  border: 0 none;
  border-radius: .3px;
  padding: 1em 2em 1em 2em;
  cursor: pointer;
  background-color: $quadrary-color;
  color: $font-color;
  font-size: 1em;
  font-weight: bold;
  &:hover { background-color: lighten($quadrary-color, 10); }
}
.page-footer {
  margin-top: 4em;

  a {
    text-decoration: none;
    color: $link-color;
    &:hover { text-decoration: underline; }
  }
}
#error {
  margin-top: 5em;
  text-align: center;
  font-size: 1.5em;

  img {
    width: auto;
    height: 8em;
  }
  .footer {
    font-size: .7em;
    margin-top: 4em;
    text-align: center;

    a {
      color: $link-color;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }
}
