@import 'global';

#dashboard {
  #dash-component {
    margin-top: 8em;
    padding-left: 5em;
    padding-right: 5em;

    @media (max-width: 650px) { padding-left: 1em; padding-right: 0; }
    @media (min-width: 700px) and (max-width: 1000px) { margin-top: 9em; }
    .ReactTabs__TabList {
      border-bottom: 2px solid $quadrary-color;
      text-align: right;
      @media (max-width: 650px) { text-align: center; }
    }
    .ReactTabs__Tab {
      background-color: $quadrary-color;
      color: $font-color;
      margin-right: .3em;
      font-size: 1.2em;
    }
    .ReactTabs__Tab--selected {
      background-color: lighten($quadrary-color, 10);
    }
    #profile-panel {
      margin-top: 1em;

      #profile-panel-header {
        float: left;
        margin-left: 1em;
        margin-bottom: 3em;
        @media (max-width: 650px) { float: none; }

        .profile-username {
          font-size: 1.8em;
        }
        img {
          width: auto;
          height: 12em;
          margin: 0 auto;
          display: inline-block;
        }
      }
      #profile-panel-wallet {
        float: right;
        @media (max-width: 650px) { float: none; }

        .wallet-header { font-size: 1.8em; }
        p { font-size: 1.2em; }
      }
      #profile-panel-inventory {
        clear: both;

        #moonlet-inventory {
          display: table;
          border-spacing: 1em;
          @media (max-width: 650px) { display: inline-block; }

          .moonlet-display {
            text-align: center;
            display: table-cell;
            max-width: 33%;
            padding: 1em;
            font-size: 1em;
            margin-right: 2em;

            @media (max-width: 650px) { display: auto; font-size: .8em; }
            &:hover {
              box-shadow: .5px .5px .5px .5px #000;
              cursor: pointer;
            }
            .moonlet-display-name {
              color: $link-color;
              font-size: 1.8em;
              @media (max-width: 650px) { font-size: 1.4em; }
            }
            .moonlet-display-img {
              width: auto;
              height: 10em;
              display: inline-block;
              margin: 0 auto;
              @media (max-width: 650px) { height: 5em; }
            }
            .moonlet-display-btn {
              display: none;
            }
          }
        }
      }
      .page-footer {
        text-align: center;
        @media (max-width: 650px) { font-size: .7em; }
      }
    }
    #transaction-panel {
      #refund-status {
        text-align: center;
        font-size: 1.1em;

        @media (max-width: 650px) { font-size: 1em; }
        #refund-success { color: green; }
        #refund-failure { color: red; }
      }
      #transaction-history {
        margin-top: 3em;
        width: 100%;
        text-align: center;

        th {
          font-size: 1.5em;
          @media (max-width: 650px) { font-size: 1em; }
        }
        .transaction {
          font-size: 1em;
          @media (max-width: 650px) { font-size: .7em; }

          td {
            padding-top: .6em;
            padding-bottom: .6em;
          }
          .transaction-purchase, .transaction-addition { color: green; }
          .transaction-refund, .transaction-reduction { color: red; }
          .refund-btn {
            width: 2em;
            cursor: pointer;
            background-color: $quadrary-color;
            padding: .5em;
            &:hover { color: red; }
          }
        }
      }
      .page-footer {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3em;
        @media (max-width: 650px) { width: 80%; font-size: .7em; }
      }
    }
    #settings-panel {
      #request-status {
        text-align: center;
        font-size: 1.1em;

        @media (max-width: 650px) { font-size: 1em; }
        #request-success {
          color: green;
        }
      }
      #email-update {
        margin-top: 2em;
        margin-left: 2em;
        float: left;
        width: 50%;

        @media (max-width: 650px) { float: none; width: 100%; }
        .current-email {
          font-size: 1.1em;

          #email-selector {
            color: $link-color;
            margin-left: 1.5em;
          }
        }
        .new-label {
          margin-right: 2.7em;
          margin-top: 1em;
        }
        .confirm-label {
          margin-top: 1em;
          margin-right: 1em;
        }
        label, input {
          font-size: 1.1em;
          width: 60%;
          @media (max-width: 650px) { width: 80%; }
        }
        input {
          padding: .2em;
        }
        #update-email-btn {
          width: 2em;
          cursor: pointer;
          background-color: $quadrary-color;
          padding: .5em;
          &:hover { background-color: lighten($quadrary-color, 15); }
        }
        #email-failure {
          color: yellow;
        }
      }
      #danger-zone {
        float: right;
        margin-top: 2em;
        margin-right: 5em;

        @media (max-width: 650px) { float: none; margin-bottom: 3em; }
        .danger-zone-header {
          color: red;
        }
        #delete-acct-btn {
          width: 2em;
          cursor: pointer;
          background-color: red;
          color: $font-color;
          padding: .5em;
          &:hover { background-color: lighten(red, 15); }
        }
      }
      .clear-filler { clear: both; }
      .page-footer {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3em;
        @media (max-width: 650px) {
          font-size: .7em;
          position: relative;
          
        }
      }
    }
  }
}
