@import 'global';

#dashboard {
  #dash-component {
    margin-top: 8em;
    padding-left: 5em;
    padding-right: 5em;

    .ReactTabs__TabList {
      border-bottom: 2px solid $quadrary-color;
      text-align: right;
    }
    .ReactTabs__Tab {
      background-color: $quadrary-color;
      color: $font-color;
      margin-right: .3em;
      font-size: 1.2em;
    }
    .ReactTabs__Tab--selected {
      background-color: lighten($quadrary-color, 10);
    }
    #profile-panel {
      margin-top: 1em;

      #profile-panel-header {
        float: left;
        margin-left: 1em;
        margin-bottom: 3em;

        .profile-username {
          font-size: 1.8em;
        }

        img {
          width: auto;
          height: 12em;
          margin: 0 auto;
          display: inline-block;
        }
      }
      #profile-panel-wallet {
        float: right;

        .wallet-header {
          font-size: 1.8em;
        }
        p {
          font-size: 1.2em;
        }
      }
      #profile-panel-inventory {
        clear: both;

        .profile-inventory-header {

        }
        #moonlet-inventory {
          display: table;
          border-spacing: 1em;

          .moonlet-display {
            text-align: center;
            display: table-cell;
            max-width: 33%;
            padding: 1em;
            font-size: 1em;
            margin-right: 2em;

            &:hover {
              box-shadow: .5px .5px .5px .5px #000;
              cursor: pointer;
            }
            .moonlet-display-name {
              color: $link-color;
              font-size: 1.8em;
            }
            .moonlet-display-img {
              width: auto;
              height: 10em;
              display: inline-block;
              margin: 0 auto;
            }
            .moonlet-display-btn {
              display: none;
            }
          }
        }
      }
    }
    #transaction-panel {
      #transaction-history {
        margin-top: 3em;
        width: 100%;
        text-align: center;

        th {
          font-size: 1.5em;
        }
        .transaction {
          font-size: 1em;

          td {
            padding-top: .6em;
            padding-bottom: .6em;
          }
          .transaction-purchase, .transaction-addition {
            color: green;
          }
          .transaction-refund, .transaction-reduction {
            color: red;
          }
          .transaction-moonlet {
            color: $link-color;
            text-decoration: underline;
            cursor: pointer;
          }
          .refund-btn {
            width: 2em;
            cursor: pointer;
            background-color: $quadrary-color;
            padding: .5em;
            &:hover { color: red; }
          }
        }
      }
    }
    #settings-panel {
      .settings-header {

      }
      #email-update {
        margin-top: 2em;
        margin-left: 2em;
        float: left;

        .current-email {
          font-size: 1.1em;
          .email {
            color: $link-color;
            margin-left: 1.5em;
          }
        }
        .new-label {
          margin-right: 2.7em;
          margin-top: 1em;
        }
        .confirm-label {
          margin-top: 1em;
          margin-right: 1em;
        }
        label, input {
          font-size: 1.1em;
        }
        input {
          padding: .2em;
        }
        #update-email-btn {
          width: 2em;
          cursor: pointer;
          background-color: $quadrary-color;
          padding: .5em;
          &:hover { background-color: lighten($quadrary-color, 15); }
        }
      }
      #danger-zone {
        float: right;
        margin-top: 2em;
        margin-right: 5em;

        .danger-zone-header {
          color: red;
        }
        #refund-all-btn {
          width: 2em;
          cursor: pointer;
          background-color: red;
          color: $font-color;
          padding: .5em;
          &:hover { background-color: lighten(red, 15); }
        }
      }
      .clear-filler {
        clear: both;
      }
    }
    .page-footer {
      text-align: center;
      margin-top: 5em;
    }
  }
}
