@import 'global';

#marketplace {
  #marketplace-component {
    padding: 2em;
    padding-left: 4em;
    margin-top: 7em;

    @media (max-width: 650px) {
      padding: .5em;
      margin-top: 5em;
    }

    #marketplace-header {
      #marketplace-display-tree {
        .tree {
          cursor: pointer;
          text-decoration: none;
          color: $link-color;
          font-size: 1.1em;
          &:hover { color: $tertiary-color; }
        }
      }
      .marketplace-title {
        font-size: 2.8em;
        cursor: pointer;
      }
      .marketplace-click-info {
        float: right;
        font-size: .9em;
      }
    }
    #marketplace-display {
      .marketplace-cat-title { cursor: pointer; }
      .marketplace-category { margin-top: 3em; }
      .moonlet-display {
        text-align: center;
        display: table-cell;
        max-width: 33.3%;
        padding: 1em;
        font-size: 1.2em;
        margin-right: 2em;

        @media (max-width: 650px) {
          display: inline-block;
          margin-right: 1em;
          font-size: 1em;
        }
        &:hover {
          box-shadow: .5px .5px .5px .5px #000;
          cursor: pointer;
        }
        .moonlet-display-name {
          color: $link-color;
          font-size: 1.5em;
        }
        .moonlet-display-img {
          width: auto;
          height: 10em;
          display: inline-block;
          margin: 0 auto;
        }
        .moonlet-display-desc { font-size: .8em; }
      }
    }
    .page-footer {
      text-align: center;
      margin-top: 5em;
    }
  }
}
